assets/images/insects/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
.vscode/settings.json
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/villagers/.DS_Store
assets/images/fish/.DS_Store
